
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

body {
  background-image: url('../img/together.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Marck Script', cursive;
}

.wraper {
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 52px;
}